<div class="page-header">
    <h1 id="about">Tietoa meistä <small>avoimet työpaikat</small></h1>
</div>

<p class="lead">Metropolia etsii kolmea teknikkan toisenvuoden opiskelijaa Leppävaaran toimipisteeseen harjoittelijoiksi.</p>
<p>Toimisto sijaitsee A puolen toisessa kerroksessa Metropolian leppävaaran toimitiloissa. Työnkuva on Web-sovellusten kehittäminen oppimisen tueksi. Pääset toteuttamaan itseäsi ja saat laajan kokemuksen eri ohjelmistotekniikoista. Työskentely on monipuolista ja voit itse vaikuttaa siihen, mitä ja miten teet.</p>
<p>Tarjoamme sinulle minimissään 40 tuntia kuussa ja pääset alottamaan työt heti. Kesällä, koulun siirryttyä tauolle, sinulle tarjotaan mahdollisuutta työskennellä myös täyspäiväisesti.</p>
<p>Miksi hakea?</p>
<ul>
    <li>Saat ohjelmistoalan työkokemusta</li>
    <li>Joustava työaika</li>
    <li>Itseohjautuvaa ryhmätyöskentelyä</li>
    <li>Hyvät etätyömahdollisuudet</li>
    <li>Voit kontrolloida omaa työaikasaldoa opintojesi mukaan</li>
    <li>Kuukausipalkka ei vaikuta Kelan opintotuen saantiin</li>
    <li>Työ tukee opintoja, koska pääset soveltamaan oppimaasi heti oikeassa työympäristössä</li>
    <li>20 tuntia viikossa, eli 4tuntia päivässä</li>
</ul>

<h2>Työnkuva</h2>
<p>Karhukoplassa työskennellessäsi tulet ylläpitämään Metropolian tietotekniikan koulutusohjelman käyttämiä pilvipalveluita kuten <a href="https://harjoittelu.edu.metropolia.fi/">Harjoittelu</a>, <a href="http://games.metropolia.fi/">Games</a> & <a href="https://webinssi.edu.metropolia.fi/login.php">Webinssi</a>. Osa ylläpidettävistä järjestelmistä on peräisin koululle oppilaiden kehittämien projekti- tai opinnäytetöiden tuloksena, näissä tilanteissa oppilaan valmistuttua kehitystyön jatkaminen on siirtynyt Karhukoplan vastuulle.</p>
<p>Työtehtäviisi kuuluu myös täysin uusien sovellusten kehittäminen ja suunnittelu, joiden ideat tulevat lähinnä opettajilla tai heidän pyynnöstään.</p>
<p>Karhukopla tarjoaa sinulle hyvän mahdollisuuden kehittää omaa osaamistasi muun muassa <a href="http://fi.wikipedia.org/wiki/Drupal">Drupal -sisällönhallintajärjestelmän</a>, <a href="http://fi.wikipedia.org/wiki/Wordpress">Wordpress -julkaisualustan</a>, <a href="http://symfony.com/">Symfony -PHP sovelluskehyksen</a> ja tarjoaa sinulle modernit työkalut ja kehitysympäristön siihen.</p>

<h2>Vaativuus ja haasteet</h2>
<p>Tarvitset työssäsi laajaa osaamista erilaisista sovelluskehitys tekniikoista ja työkaluja.</p>

<dl class="dl-horizontal">
    <dt>Jira</dt>
    <dd>Käytämme kehityksessä ketteriä kehitysmenetelmiä. Jiran avulla suunnittelemme ja seuraamme sovelluksen kehitystä:
        Hallitsemme version julkaisuja, bugiraportteja ja viikottaisien Sprinttien sisältöä.</dd>
</dl>

<dl class="dl-horizontal">
    <dt>SVN/Git</dt>
    <dd>Versiohallinta antaa mahdollisuuden keskitettyyn koodinhallintaan ja yhtäaikaiseen työskentelyyn.</dd>
</dl>

<dl class="dl-horizontal">
    <dt>Jenkins</dt>
    <dd>Automatisointi pavelu, joka buildaa projektit, ajaa testit ja päivittää testisivut jokaisen päivityksen jälkeen.</dd>
</dl>

<dl class="dl-horizontal">
    <dt>Palvelinylläpito</dt>
    <dd>Karhukoplalla on useita palvelimia: CI-pavelin, kehityspavelin, asiakastesti ja eristetty tuotantoympäristö,
        jotka vaativat ajottain huolenpitoa</dd>
</dl>

<dl class="dl-horizontal">
    <dt>Lecacy-koodi</dt>
    <dd>Ylläpitotehtäviä vanhempiin järjestelmiin, jotka ovat pääosin functionaalisista PHP:tä,
        Yleensä työtehtävät vaativat refactoroimista tai kantapäivityksiä.</dd>
</dl>

<dl class="dl-horizontal">
    <dt>Symfony</dt>
    <dd>PHP -ohjelmistokehys, joka antaa rungon sovellukselle ja tarjoaa paljon valmiita komponentteja,
        esim. PHPUnit, Doctrine, Twig, jne...</dd>
</dl>

<dl class="dl-horizontal">
    <dt>Testivetoinen kehitys</dt>
    <dd>TDD:n idea on kirjoittaa sovellukselle testejä ennen varsinaisen koodin kirjoittamista ja
        kun toiminnallisuus on toteutettu oikein, testien tulee mennä läpi.</dd>
</dl>

<dl class="dl-horizontal">
    <dt>Kehykset & kirjastot</dt>
    <dd>Erilaiset valmiit kehykset ja kirjastot ovat osa ohjelmistosuunnittelua. Ne pitävät sisällää vakiintuneita käytäntöjä
        ja tarjoavat paljon valmista koodia. Web-sovellukset käyttävät paljon eri javascript kirjastoja (mm. jQuery)
        ja eri käyttöliittymäkehyksiä, joiden avulla on luotettavampaa rakentaa yhteneviä sivustokokonaisuuksia.</dd>
</dl>

<dl class="dl-horizontal">
    <dt>Zurb Foundation</dt>
    <dd>Responsiivinen käyttöliittymäkehys.</dd>
</dl>

<dl class="dl-horizontal">
    <dt>Julkaisualustat</dt>
    <dd>Wordpress ja drupal</dd>
</dl>

<dl class="dl-horizontal">
    <dt>käyttäjäläheisyys</dt>
    <dd>Haluamme luoda tehokkaita järjestelmiä, joita on miellyttävä käyttää ja jotka palvevat meidän asikkaita:
        eli metropolian opiskelijoita ja henkilökuntaa.</dd>
</dl>