<div class="page-header">
    <h1 id="contact">Yhteystiedot <small>Karhukopla</small></h1>
</div>
<p>
    <a href="mailto:karhukopla@metropolia.fi"><i class="fa fa-envelope-o"></i> karhukopla@metropolia.fi </a><br />
    Vanha maantie 6, 02600 Espoo<br />
    2. kerros<br />
    huone A2130
</p>