<div class="page-header">
    <h1 id="form">Lomake</h1>
</div>
<form role="form" method="post" action="/create/">
    <div class="well">
        <fieldset>
            <legend>Yhteystiedot</legend>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="fullName">Nimesi</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Kimmo Koodari"/>
                </div>
                <div class="col-sm-6 form-group">
                    <label for="group">Luokkatunnus</label>
                    <input type="email" class="form-control" id="group" name="group" placeholder="TT12S1E"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label for="userid">Tuubitunnus</label>
                    <input type="text" class="form-control" id="userid" name="userid" placeholder="kimmokood" />
                </div>
                <div class="col-sm-6 form-group">
                    <label for="email">Sähköposti</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="kimmo.koodari@metropolia.fi" />
                </div>
            </div>
        </fieldset>
    </div>
    <button type="button" id="continue-filling" class="btn-success">Jatka</button>
    <div class="rest-of-the-form">
        <div class="well">
            <fieldset>
                <legend id="first-of-hidden-form-items">Osaaminen</legend>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label for="studies">Opinnot</label>
                        <textarea class="form-control" rows="5" id="studies" name="studies"></textarea>
                        <span class="help-block">Missä olet aiemmin opiskellut ja mitä ohjelmointia tukevia opintoja olet jo suorittanut?</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label for="experiences">Web-ohjelmointi kokemukset</label>
                        <textarea class="form-control" rows="5" id="experiences" name="experiences"></textarea>
                        <span class="help-block">Oletko aiemmin tehnyt verkkosivustoja? Jos olet, mitä?</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label for="alternative-experiences">Muu työkokemus & projektiosaaminen</label>
                        <textarea class="form-control" rows="5" id="alternative-experiences" name="alternative-experiences"></textarea>
                        <span class="help-block">Missä työtehtävissä olet aiemmin toiminut? Onko sinulla kokemusta projektissa työskentelystä?</span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="well">
            <fieldset>
                <legend id="first-of-hidden-form-items">Ohjelmointi</legend>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label for="studies">Mitä on ohjelmointi?</label>
                        <textarea class="form-control" rows="5" id="studies" name="studies"></textarea>
                        <span class="help-block">Kerro lyhyesti, mitä ajattelet ohjelmoinnista työnä? Mitä se merkitsee sinulle?</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label for="experiences">Millaisena sovelluskehittäjänä näet itsesi?</label>
                        <textarea class="form-control" rows="5" id="experiences" name="experiences"></textarea>
                        <span class="help-block">Oletko aiemmin tehnyt verkkosivustoja? Jos olet, mitä?</span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="well">
            <fieldset>
                <legend>Muut</legend>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label for="skills">Muu osaaminen ja taidot</label>
                        <textarea class="form-control" rows="5" id="skills" name="skills"></textarea>
                        <span class="help-block">Omaatko jotain muita taitoja/ominaisuuksia, kuten esimerkiksi muut ohjelmointikielet, kuvankäsittelyä, johtamis- tai ryhmätyöskentelytaitoja, jotka koet auttavan sinua ja muita työtehtävissäsi?</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label for="skills">Miksi haluat Metropolialle töihin?</label>
                        <textarea class="form-control" rows="5" id="skills" name="skills"></textarea>
                        <span class="help-block">Perustele lyhyesti, miksi juuri sinut tulisi valita?</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <label for="skills">Mitä halaisit vielä kertoa tai sanoa?</label>
                        <textarea class="form-control" rows="5" id="skills" name="skills"></textarea>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="well">
            <fieldset>
                <legend>Sosiaalinen media</legend>
                <p>Voit halutessasi lisätä myös URL-osoitteen profiiliisi. Tieto ei ole pakollinen</p>
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-linkedin"></i></span>
                            <input type="text" class="form-control" id="linkedin" placeholder="https://www.linkedin.com/">
                        </div>
                    </div>
                    <div class="col-lg-4 form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                            <input type="text" class="form-control" id="facebook" placeholder="https://www.facebook.com/">
                        </div>
                    </div>

                    <div class="col-lg-4 form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                            <input type="text" class="form-control" id="twitter" placeholder="https://twitter.com/">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-bitbucket"></i></span>
                            <input type="text" class="form-control" id="bitbucket" placeholder="https://bitbucket.org/">
                        </div>
                    </div>
                    <div class="col-lg-4 form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-github"></i></span>
                            <input type="text" class="form-control" id="github" placeholder="https://github.com/">
                        </div>
                    </div>
                    <div class="col-lg-4 form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-stack-overflow"></i></span>
                            <input type="text" class="form-control" id="stack-overflow" placeholder="https://stackoverflow.com/">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <button type="reset" class="btn btn-danger">Tyhjennä</button>
                <button type="submit" class="btn btn-success">Lähetä hakemus</button>
            </div>
        </div>
    </div>
</form>