{% extends "layout.html.twig" %}

{% block content %}
    <div class="hero-unit" id="hero-unit">
        <div class="hero-item">
            <div class="container">
                <h1>Karhukopla - Paras kesätyö ikinä!</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="page-header">
            <h1 id="about">Tietoa meistä <small>avoimet työpaikat</small></h1>
        </div>
        {% include 'home/about.html.twig' only %}
    </div>

    <div class="container">
        <div class="page-header">
            <h1 id="form">Lomake</h1>
        </div>
        {% include 'form/application.html.twig' with {'form': applicationForm} only %}
    </div>

    <div class="container">
        <div class="page-header">
            <h1 id="contact">Yhteystiedot <small>Karhukopla</small></h1>
        </div>
        {% include 'home/contact.html.twig' only %}
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-right" style="opacity: 0.7">
                Copyright &copy 2014 Tommi Keskitalo
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    $(function() {
        $('#continue-filling').click(function() {
            $(this).hide(200, 'linear', function() {
                $('.rest-of-the-form').show(600, function() {
                    $('body').scrollspy('refresh')
                });
            });

        });
    });
{% endblock %}

{% block css %}
    body {
        padding-bottom: 16em;
    }
{% endblock %}
