{% set hideNavBar %}
{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 id="form">Lomake</h1>
        </div>
        {% include 'forms/application.html.twig' with {'form': applicationForm} only %}
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-right" style="opacity: 0.7">
                Copyright &copy 2014 Tommi Keskitalo
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    $(function() {
        $('#continue-filling').hide();
        $('.rest-of-the-form').show();
    });
{% endblock %}
